.meeting-info-block {
    position: relative;
    top: 5px;
    left: 25px;
    z-index: 1;
    
    background-color: #fff;
    border-radius: 10px;
    padding: 25px;
    height: 130px;
    width: 320px;
    .meeting-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #222;
      h3 {
        margin: 0;
        font-size: 18px;
        font-weight: 400;
      }
      .icon {
        cursor: pointer;
        font-size: 20px;
      }
    }
    .meet-link {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      background: #f1f3f5;
      padding: 15px;
      border-radius: 5px;
      background-color: rgb(241, 241, 241);
      span {
        font-size: 14px;
        font-weight: 600;
        border: none;
        outline: none;
        background: none;
        flex: 1;
        color: rgb(66, 65, 65);
      }
      .icon {
        cursor: pointer;
        color: rgb(51, 47, 47);
      }
    }
    .div {
      .input {
        border-radius: 10px;
        border: none;
      }
      .call-button {
        background-color: #04796a;
        color: white;
        border-radius: 10px;
        outline: none;
        border: none;
      }
    }
  }