.VideoHome {
	text-align: center;
	height: 100vh;
	flex-direction: column;
  }
  
  .VideoHome-logo {
	height: 40vmin;
	pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
	.VideoHome-logo {
	  animation: VideoHome-logo-spin infinite 20s linear;
	}
  }
  
  .VideoHome-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
  }
  
  .VideoHome-link {
	color: #61dafb;
  }
  
  @keyframes VideoHome-logo-spin {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(360deg);
	}
  }
  